@media (orientation: portrait) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .screen {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .first {
    background: linear-gradient(45deg, #1e5a74, transparent);
  }
  .first #header {
    position: absolute;
    top: 1%;
    margin: 0;
    width: 95vw;
    height: 15vh;
    margin-left: 2.5vw;
    display: flex;
  }
  .first #header #image {
    height: 14vh;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    margin-right: 15%;
    background: #333333;
    opacity: 0.5;
  }
  .first #header .head {
    border-radius: 25px;
    background-color: #1e5a74;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    cursor: pointer;
    line-height: 5vh;
    width: 20%;
  }
  .first #header .head:hover {
    background-color: yellow;
  }
  .first #header .contact {
    margin-right: 1%;
  }
  .first #firstScreenBody {
    position: absolute;
    top: 25%;
    width: 60vw;
    margin-left: 20vw;
    border-top: 2px dashed;
    height: 60vh;
    border-bottom: 2px dashed;
    text-align: center;
  }
  .first #firstScreenBody .text {
    font-weight: 100;
  }
  .first #firstScreenBody h1 {
    margin-bottom: 0;
  }
  .first #firstScreenBody h2 {
    margin-top: 0;
    margin-bottom: 20vh;
  }
  .first #firstScreenBody h3 {
    margin: 0;
  }
  .first #firstScreenBody h4 {
    margin: 7.5vh;
  }
  .second {
    background-image: url("assets/wall.jpg");
    background-size: cover;
    display: flex;
  }
  .second #image {
    background-color: #333333;
    width: 40%;
    position: absolute;
    top: 60%;
    left: 30%;
  }
  .second .text {
    font-weight: 100;
    text-align: center;
  }
  .second .title {
    margin-top: 15vh;
  }
  .second h1 {
    margin: 0;
  }
  .second .story {
    margin-top: 10vh;
  }
  .third {
    background-color: #33ab63;
    display: flex;
    flex-direction: column;
  }
  .third .text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .third h1 {
    margin: 0;
  }
  .third h3 {
    width: 60%;
    margin-top: 10.5vh;
  }
  .third #quote {
    margin-top: 25vh;
  }
  .third h2 {
    margin-top: 10vh;
  }
  .third button {
    margin-top: 5vh;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #5b1212;
    color: #eeeeee;
  }
  .third button:hover {
    background-color: #eeeeee;
    color: #5b1212;
  }
  .third .bar {
    position: absolute;
    top: 18vh;
    width: 20vw;
    height: 4vh;
    background: black;
  }
  .third .right {
    right: 0;
  }
  .fourth {
    background-color: #667ae3;
  }
  .fourth #menu {
    height: 70vh;
    width: 60vw;
    background: #eeeeee;
    left: 20vw;
    top: 17.5vh;
    position: absolute;
  }
  .fourth .text {
    text-align: center;
  }
  .fourth .title {
    margin-top: -30%;
    font-size: xx-large;
  }
  .fifth {
    background-color: #333333;
    position: relative;
  }
  .fifth .text {
    text-align: center;
    color: white;
    font-weight: 100;
  }
  .fifth div.text {
    position: absolute;
    top: 10vh;
    width: 60vw;
    left: 20vw;
    font-size: xx-large;
  }
  .fifth #find {
    position: absolute;
    top: 40vh;
    text-align: center;
  }
  .fifth #find .text {
    width: 100vw;
  }
  .fifth #touch {
    position: absolute;
    top: 16vh;
    width: 50vw;
    left: 25vw;
  }
  .fifth #touch h2 {
    display: none;
  }
  .fifth #touch h3 {
    margin: 0;
  }
  .fifth #footer {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100vw;
    height: 5vh;
    color: white;
    line-height: 5vh;
    text-align: center;
  }
}

@media (orientation: landscape) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .screen {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .first {
    background-color: #1e5a74;
  }
  .first #header {
    position: absolute;
    top: 1%;
    margin: 0;
    width: 95vw;
    height: 15vh;
    background-color: #c4c4c4;
    margin-left: 1.5vw;
    display: flex;
  }
  .first #header #image {
    height: 14vh;
    width: 14vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5vh;
    background: #333333;
  }
  .first #header .head {
    width: 7.5vw;
    border-radius: 25px;
    background-color: #1e5a74;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    cursor: pointer;
    line-height: 5vh;
  }
  .first #header .head:hover {
    background-color: yellow;
  }
  .first #header .home {
    margin-left: 45%;
  }
  .first #header .menu {
    margin-left: 5%;
  }
  .first #header .contact {
    margin-left: 5%;
  }
  .first #firstScreenBody {
    position: absolute;
    top: 25%;
    width: 60vw;
    margin-left: 20vw;
    border-top: 2px dashed;
    height: 60vh;
    border-bottom: 2px dashed;
    text-align: center;
  }
  .first #firstScreenBody .text {
    font-weight: 100;
  }
  .first #firstScreenBody h1 {
    font-size: xxx-large;
    margin-bottom: 0;
  }
  .first #firstScreenBody h2 {
    margin-top: 0;
    margin-bottom: 20vh;
  }
  .first #firstScreenBody h3 {
    margin: 0;
  }
  .first #firstScreenBody h4 {
    margin: 7.5vh;
  }
  .second {
    background-color: #eeeeee;
    display: flex;
  }
  .second #image {
    width: 32.5%;
    margin-left: 2.5%;
    margin-right: 15%;
    background-color: #333333;
    height: 65%;
    margin-top: 15%;
  }
  .second .text {
    font-weight: 100;
  }
  .second .title {
    margin-top: 15vh;
  }
  .second h1 {
    margin: 0;
  }
  .second .story {
    margin-top: 10vh;
  }
  .third {
    background-color: #33ab63;
    display: flex;
    flex-direction: column;
  }
  .third .text {
    margin-left: auto;
    margin-right: auto;
  }
  .third h1 {
    margin: 0;
  }
  .third h3 {
    width: 35%;
    text-align: center;
    margin-top: 7vh;
    font-size: larger;
  }
  .third #quote {
    margin-top: 25vh;
  }
  .third h2 {
    margin-top: 10vh;
  }
  .third button {
    margin-top: 7.5vh;
    width: 7.5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #5b1212;
    color: #eeeeee;
  }
  .third button:hover {
    background-color: #eeeeee;
    color: #5b1212;
  }
  .third .bar {
    position: absolute;
    top: 18vh;
    width: 35vw;
    height: 4vh;
    background: black;
  }
  .third .right {
    left: 65vw;
  }
  .fourth {
    background-color: #667ae3;
  }
  .fourth #menu {
    height: 90vh;
    width: 35vw;
    background: #eeeeee;
    left: 32.5vw;
    top: 8.5vh;
    position: absolute;
  }
  .fourth .text {
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
  .fourth .title {
    font-size: xx-large;
    border-bottom: 1px dashed black;
    border-bottom-right-radius: 125%;
    background-color: #dab17e;
    border-bottom-left-radius: 125%;
    margin: 0;
  }
  .fourth .subTitle {
    margin-top: 10%;
  }
  .fourth .left {
    text-align: left;
  }
  .fourth .item {
    margin-left: 10%;
  }
  .fourth .wings {
    margin-left: 15%;
  }
  .fifth {
    background-color: #333333;
    position: relative;
  }
  .fifth .text {
    text-align: center;
    color: white;
    font-weight: 100;
  }
  .fifth div.text {
    position: absolute;
    top: 5vh;
    width: 20vw;
    left: 40vw;
    font-size: x-large;
  }
  .fifth #find {
    position: absolute;
    top: 40vh;
    left: 10vw;
  }
  .fifth #find .text {
    margin-left: 11vw;
  }
  .fifth #find #map {
    width: 25vh;
  }
  .fifth #touch {
    position: absolute;
    top: 40vh;
    right: 22.5vw;
  }
  .fifth #touch h2 {
    margin-bottom: 10vh;
  }
  .fifth #touch h3 {
    margin: 0;
  }
  .fifth #footer {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100vw;
    height: 5vh;
    color: white;
    line-height: 5vh;
    text-align: center;
  }
}
