body
    margin: 0;
    overflow-x: hidden;

.screen
    height: 100vh;
    width: 100vw;
    position: relative;

.first
    background-color: #1E5A74;
    #header
        position: absolute;
        top: 1%;
        margin: 0;
        width: 95vw;
        height: 15vh;
        background-color: #C4C4C4;
        margin-left: 1.5vw;
        display: flex;
        #image
            height: 14vh;
            width: 14vh;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: .5vh;
            background: #333333;
        .head
            width: 7.5vw;
            border-radius: 25px;
            background-color: #1E5A74;
            height: 30%;
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            cursor: pointer;
            line-height: 5vh;
        .head:hover
            background-color: yellow;
        .home
            margin-left: 45%;
        .menu
            margin-left: 5%;
        .contact
            margin-left: 5%;
    #firstScreenBody
        position: absolute;
        top: 25%;
        width: 60vw;
        margin-left: 20vw;
        border-top: 2px dashed;
        height: 60vh;
        border-bottom: 2px dashed;
        text-align: center;
        .text
            font-weight: 100;
        h1
            font-size: xxx-large;
            margin-bottom: 0;
        h2
            margin-top: 0;
            margin-bottom: 20vh;
        h3
            margin: 0;
        h4
            margin: 7.5vh;

.second
    background-color: #EEEEEE;
    display: flex;
    #image
        width: 32.5%;
        margin-left: 2.5%;
        margin-right: 15%;
        background-color: #333333;
        height: 50%;
        margin-top: 20%;
    .text
        font-weight: 100;
    .title
        margin-top: 15vh;
    h1
        margin: 0;
    .story
        margin-top: 10vh;

.third
    background-color: #33AB63;
    display: flex;
    flex-direction: column;
    .text
        margin-left: auto;
        margin-right: auto;
    h1
        margin: 0;
    h3
        width: 35%;
        text-align: center;
        margin-top: 10vh;
        font-size: larger;
    h2
        margin-top: 20vh;
    button
        margin-top: 7.5vh;
        width: 7.5vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        background-color: #5B1212;
        color: #eeeeee;
    button:hover
        background-color: #eeeeee;
        color: #5B1212;
    .bar
        position: absolute;
        top: 18vh;
        width: 35vw;
        height: 4vh;
        background: black;
    .right
        left: 65vw;

.fourth
    background-color: #667AE3;
    #menu
        height: 90vh;
        width: 35vw;
        background: #EEEEEE;
        left: 32.5vw;
        top: 8.5vh;
        position: absolute;
    .text
        text-align: center;
    .title
        margin-top: -10%;

.fifth
    background-color: #333333;
    position: relative;
    .text
        text-align: center;
        color: white;
        font-weight: 100;
    div.text
        position: absolute;
        top: 5vh;
        width: 20vw;
        left: 40vw;
        font-size: x-large;
    #find
        position: absolute;
        top: 40vh;
        left: 10vw;
        #map
            height: 25vh;
            width: 25vh;
            background: black;
    #touch
        position: absolute;
        top: 40vh;
        right: 10vw;
        h2
            margin-bottom: 10vh;
        h3
            margin: 0
    #footer
        position: absolute;
        bottom: 0;
        background: black;
        width: 100vw;
        height: 5vh;
        color: white;
        line-height: 5vh;
        text-align: center;